# Rails
RAILS_ENV=development
RAILS_MAX_THREADS=5
PORT=3000
PIDFILE=tmp/pids/server.pid
RAILS_LOG_LEVEL=info

# Database
DB_HOST=localhost
DB_USER=postgres
DB_PASS=password

# Docker
DOCKERIZED=false

CI=true
WEB_CONCURRENCY=2
NEW_VALUE=123
